.navi {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    font-family: Inconsolata;
    letter-spacing: 0px;
    font-stretch: ultra-condensed;


}
.navi img {
    width: 15% ;
    height: 15% ;
}

.navContent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-stretch: ultra-condensed;
}

.navContent img {
    width: 30% ;
    height: 50% ;
}